{% extends 'django_blogs/base.html' %}

{% load bootstrap4 %}

{% block page_header %}
    {% if validlink %}
        <h3>Change password</h3>
    {% endif %}
{% endblock page_header %}

{% block content %}
    {% if validlink %}
        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Reset password</button>
            {% endbuttons %}
        </form>
    {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used.
            Please request a new password reset.
        </p>
    {% endif %}
{% endblock content %}